{{ define "main" }}

<section class="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        
        <time datetime="{{ .PublishDate }}">
            {{ if .Params.showthedate }}
                <span class="split">·</span>
                {{ .PublishDate.Format "02 Jan 2006" }}
        </time>
        {{end}}
        <span>
            {{ if .Params.wordcount }}
                <span class="split">·</span> 
                {{ .WordCount }} words </span>
        <span>
        {{end}}
            {{ if .Params.readingtime }}
                <span class="split">·</span>
                {{ .ReadingTime }} minutes to read
        </span>
        {{end}}
        <span class="split">·</span>
    </div>

    <div class="taxonomies">
        {{ with .Params.categories }}
        <div>
            Categories:
            {{ range . }}
                <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}

        {{ with .Params.tags }}
            <div>
                Tags:
                {{ range . }}
                    <a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <hr />

    <div class="content">
        {{ .Content }}
    </div>

    {{ with and .Site.Params.remark42 .Params.show_comments }}
        <hr />
        {{ partial "comment.html" . }}
    {{ end }}
</section>

{{ end }}

